font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.otf); /*class for applying font famiy*/
}
body {
  font-family: Poppins;
}

/* .fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.visible-title {
  visibility: visible;
} */

.underline > a:hover > span {
  text-decoration: underline;
}
ul:hover .fa-shopping-cart {
  cursor: pointer;
}
ul:hover .login-class {
  cursor: pointer;
}
.main-header-first > .main-header-first-1 > span:hover .fa-twitter {
  cursor: pointer;
  font-size: large;
}
.main-header-first > .main-header-first-1 > span:hover .fa-facebook {
  cursor: pointer;
}
.main-header-first > .main-header-first-1 > span:hover .fa-instagram {
  cursor: pointer;
}

.main-header-menu-section > .menu {
  background-color: rgb(111, 162, 25);
  display: flex;
  list-style: None;
  justify-content: center;
  padding: 0.5em 0;
  margin-top: 8px;
}

.main-header-first-1 {
  /* position: absolute; */
  /* top: 0; */
}

.main-header-menu-section > .menu > li {
  margin: 0 1.5em;
  font-weight: bold;
}
.menu-item {
  position: relative;
}
.menu-item:hover > .sub-menu {
  display: block;
}
.menu-item > .sub-menu {
  background-color: white;
  list-style: none;
  padding: 1em 1.5em;
  position: absolute;
  z-index: 4;
  top: 200%;
  left: 0;
  display: none;
}
.menu-item > .sub-menu a {
  text-decoration: none;
  color: gray;
}
.menu-item > .sub-menu > .sub-menu-item {
  margin: 0.5em 0;
  white-space: nowrap;
  padding: 0.5em 0em;
}
.header-menu-section a {
  text-decoration: none;
}
.header-menu-section {
  background-color: rgb(111, 162, 25); /*class for header-menu-section*/
}

.footer-top {
  background-color: rgb(31, 28, 29); /*class for footer bg color*/
}
.about {
  background-color: rgb(35, 31, 32);
}

.color1 {
  color: rgb(149, 201, 61); /*class for providing color*/
}
.button {
  background-color: rgb(149, 201, 61);
}
.facebook-image {
  margin: auto;

  width: 40px;
}
.facebook-image img {
  /* class for facebook image below the form */
  width: 100%;
  height: 100%;
}
.before-footer {
  background-color: rgb(236, 229, 229); /* class for before-footer*/
}
.copyright {
  background-color: rgb(39, 35, 36); /* class for copyright*/
  color: gray;
}

.main-header-first {
  background-color: #95c93d;
  /* position: fixed; */
  /* top: 0em; */
  /* z-index: 20; */
}
.header-menu {
  background-color: #6fa219;
}
.header-menu a {
  text-decoration: none;
  color: white;
}
.about {
  background-color: #231f20;
}

.footer-top > .footer-first > .footer-icon:hover .fa-twitter {
  cursor: pointer;
}
.footer-top > .footer-first > .footer-icon:hover .fa-linkedin {
  cursor: pointer;
}
.footer-top > .footer-first > .footer-icon:hover .fa-facebook {
  cursor: pointer;
}
.footer-top > .footer-first > .footer-icon:hover .fa-youtube {
  cursor: pointer;
}
.footer-top > .footer-first > .footer-icon:hover .fa-instagram {
  cursor: pointer;
}
.footer-second-2:hover > span {
  color: rgb(134, 201, 46);
  cursor: pointer;
}
.footer-last > li:hover {
  color: rgb(134, 201, 46);
  cursor: pointer;
}
.color {
  color: rgb(134, 201, 46);
}
.menu-item:hover {
  cursor: pointer;
}

.carousel-sec {
  width: 100vw;
  /* margin-top: 180px; */
}
.card {
  width: 500px;
  height: 230px;
  background-color: #8cb446e7;
}

.visit-btn {
  width: 250px;
}
.visit-btn :hover > span {
  color: green;
}
.green {
  background-color: #95c93d;
}

.every-need {
  padding: 1em;
  /* height:200px; */
  background-color: white;
  /* height:1px;
        width:1px; */
}
.every-need > p {
  font-weight: bold;
  letter-spacing: 3px;
}
.every-need-ul {
  list-style: None;
  display: flex;
  padding: 1em 0em;
  justify-content: space-between;
}

.every-need > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car {
  margin-top: 1em;
}
.commercial {
  margin-top: 0.5em;
}
.every-need > ul > li > img {
  width: 60px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

.every-need > ul > li > span {
  width: 90%;
  text-align: center;
  font-size: 12px;
}
.every-need > ul > li:hover > span {
  color: rgb(79, 233, 79);
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* align items for vertical alignmnt */
  width: 100vw;
  height: 40vw;
  background-color: whitesmoke;
  margin-top: 20px;
}
.flex-container > .box1 {
  width: 380px;
  height: 420px;
  border: solid 1px;
  background-image: url(../images/amron_car.png);
  background-size: 100% 100%;
  color: white;
  margin: auto;
  /* margin-left: 10px;
        margin-right: 10px; */
}
.box1 > .para-1 {
  margin-top: 0.5em;
  padding: 0em 1em;
  word-spacing: 0.2em;
  font-size: 20px;
  margin-bottom: 0;
}
.box1 > .para-1-head {
  font-weight: bold;
  font-size: 35px;
  margin-top: 0;
}
.para-2 {
  /* padding:0 4em; */
  font-size: 20px;
  margin-left: 15px;
}
.flex-container > .box1 > .para-2-image {
  display: flex;
  padding-left: 20px;
  color: white;
}
.flex-container > .box1 > .para-2-content {
  display: flex;
}
.box1-flex {
  display: flex;
  margin-left: 16px;
  margin-top: 0px;
}
.para-2-head {
  padding: 0;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.fa-check {
  margin-top: 20px;
  margin-left: 25px;
}
.fa-television {
  /* padding: 10px; */
  font-size: 30px;
  margin-top: 10px;
  margin-left: 30px;
  /* padding-bottom: 2em; */
}
.flex {
  display: flex;
  flex-direction: row;
}
.box2 {
  border: 1px solid rgba(143, 132, 132, 0.459);
  /* height: 470px;
        width: 400px; */
  width: 380px;
  height: 420px;

  margin: auto;

  padding-top: 1.4em;
  background-color: white;
}

.card2-div {
  display: flex;
}

.card2-div > p {
  font-size: 0.9em;
  color: grey;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

.card2-div-one > button {
  width: 97px;
  height: 30px;
  background-color: #a5df43;
  margin-left: 3em;
  box-shadow: 0px 0px 8px 4px grey;
  border: 1px solid white;
}

.card2-first-part {
  display: flex;
}

.card2-div > i {
  color: #a5df43;
  font-size: 4em;
  margin-left: 0.4em;
}

.card2-div > p > span {
  font-family: Poppins;
  font-size: 2em;
  margin-left: 0;
  color: black;
  margin-bottom: 0.6em;
  letter-spacing: 0.1em;
}
.box2 > p {
  font-size: 1em;
  color: grey;
  margin-bottom: 0.5em;
  margin-left: 3em;
}

.box2 > h1 {
  font-family: Poppins;
  font-size: 2em;

  color: black;
  margin-bottom: 0.6em;
  margin-left: 1.6em;
  letter-spacing: 0.1em;
}

.box2 > .card2-image {
  width: 100%;
  background-color: rgba(240, 231, 231, 0.459);
  border: 1px;
  height: 28%;
  padding: 0.7em;
  display: flex;
}

.card2-image-1 {
  width: 80px;
  height: 80px;
}

.card2-image-1 > img {
  width: 100%;
  height: 100%;
}
.card2-content > p {
  margin-left: 2.5em;
  margin-bottom: 1em;
  font-size: 12px;
}

.box2 > .card3-image {
  width: 100%;
  background-color: rgba(240, 231, 231, 0.459);
  border: 1px solid white;
  height: 27%;
  padding: 0.7em;
  display: flex;
}

.footer-last > li {
  margin-bottom: 0.5em;
}
.box2 > .card4-image {
  width: 100%;
  background-color: rgba(240, 231, 231, 0.459);
  border: 1px;
  height: 28%;
  padding: 0.7em;
  display: flex;
}

.box3 {
  border: 1px solid rgba(143, 132, 132, 0.459);
  width: 380px;
  height: 420px;

  margin: auto;

  background-color: white;
}

.box3-content {
  width: 100%;
  /* height: 5%; */

  border: 1px solid rgba(143, 132, 132, 0.459);
  display: flex;
  background-color: rgba(240, 231, 231, 0.459);
}

.box3-content > .box3-one {
  border: 1px solid rgba(194, 186, 186, 0.459);
  padding-right: 2em;
  color: black;
  background-color: white;
}
.box3-content > .box3-two {
  color: rgba(165, 153, 153, 0.459);
}
.box3-two-1 {
  width: 380px;
  height: 400px;
  overflow: hidden;
}

.box3 > .box3-content > .box3-two > img {
  width: 100%;
  height: 100%;
}

.heading {
  text-align: center;
  font-size: 2em;

  margin: 2em;
  /* padding: 2em 2em; */
  /* width:100vw;
        height:20vh; */
  background-color: white;
}
.heading {
  margin: 35px;
}
.heading > .span {
  font-size: 1em;
  color: rgb(149, 201, 61);
  font-weight: bold;
}
.lastrow-card-1 {
  border: 0px solid;
  background-image: url(../images/youtube.PNG);
  background-size: 100% 100%;
  width: 470px;
  height: 300px;
}

.last-row {
  width: 100%;
  /* height: 55vh; */
  padding: 1em 6em;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.lastrow-card-2 {
  border: 1px solid black;
  background-color: aliceblue;
  width: 280px;
  height: 300px;
  text-align: center;
  padding: 1em 0;
  background-color: black;
}

.lastrow-card-3 {
  border: 1px solid black;
  background-color: aliceblue;
  width: 295px;
  height: 300px;
  padding: 2.5em;
  background-image: url(../images/bg-did-you-know.png);
  background-size: 100% 100%;
}

.lastrow-card-2 > h1 {
  font-size: 2.5em;
  color: white;
  margin-top: -0.2em;
  margin-bottom: 0.5em;
}

.lastrow-card-2 > p {
  color: white;
}

.lastrow-card-3 > p {
  color: white;
  font-family: Poppins;
  font-size: 1 em;
}

.lastrow-card-3 > h1 {
  color: #8cb446;
  font-size: 1.5em;
  font-family: Poppins;
  font-weight: bold;
  margin-bottom: 1.3em;
}
.last-para {
  color: white;
}
.banner-class {
  width: 100%;
  height: 100%;
}

.user-action {
  display: none;
}

.menu-item > span > i {
  transition: transform;
  transition-duration: 1sec;
}

.main-header-menu-section > .menu > li::after {
  content: "";
  height: 5px;
  width: 0%;
  /* display: inline-block; */
  background-color: #5b752f;
  position: absolute;

  bottom: -20px;
  left: 0;
  transition: width 1sec;
}

.main-header-menu-section > .menu > li:hover::after {
  width: 100%;
}

.menu-item:hover > span > i {
  transform: rotateZ(180deg);
}

/* .Box-3 {
  width: 27vw;
  height: 70vh;
} */

.advertisement-image > div > img {
  width: 100%;
  height: 100%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 668px) and (-webkit-min-device-pixel-ratio: 2) {
  .ham-menu {
    margin: 1em 0;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header-section-two .w-50 {
    width: 100% !important;
  }
  .header-section-two .cart-icon {
    position: absolute !important;
    top: 10px !important;
    right: 2px !important;
    left: 330px;
    margin-top: 10px;
  }

  .ind-accordion:hover .d-none {
    display: flex !important;
  }

  .ind-accordion .color {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    padding: 0.5em;
  }

  .ind-accordion .color::after {
    content: "\f107";
    font-family: FontAwesome;
  }
  .about {
    display: flex;
    flex-direction: column;
    background-color: #231f20;
  }

  .content {
    width: 100%;
  }
  .before-footer {
    background-color: rgb(241, 241, 241);
  }
  .every-need {
    padding: 1em;

    background-color: white;
    /* height:1px;
        width:1px; */
  }
  .every-need-ul {
    width: 100%;
    list-style: None;
    display: flex;
    padding: 1em 0em;
    flex-wrap: wrap;

    justify-content: flex-start;
  }
  .every-need > ul > li {
    width: 40%;

    margin-bottom: 1.5em;

    margin-left: 0.5em;
  }

  .flex-container {
    align-items: center;
    /* align items for vertical alignmnt */
    width: 100vw;
    height: 40vw;
    background-color: whitesmoke;
    margin-top: 20px;
  }
  .before {
    display: flex;

    background-color: rgb(235, 231, 231);

    padding: 2em;
  }

  .pitstop-content > h1 {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .pitstop-content > button {
    padding: 0.3em 2em;
    font-size: 1em;
    color: white;
    background-color: #a5df43;
    white-space: nowrap;
    border: none;
    margin-left: 1em;
  }
  .pitstop-image {
    margin-left: 1.8em;
    margin-top: -1.2em;
  }

  .flex-container {
    width: 100vw;
  }
  .flex-container > .box1 {
    width: 380px;
    height: 420px;
    border: solid 1px;
    background-image: url(../images/amron_car.png);
    background-size: 100% 100%;
    /* color: white; */
  }
  .lastrow-card-1 {
    width: 100%;
  }

  .last-row {
    width: 100%;

    padding: 0;
  }

  .lastrow-card-2 {
    margin: 1em 0;
    width: 100%;
  }

  .lastrow-card-3 {
    width: 100%;
    margin: 1em 0;
    background-image: url(../images/bg-did-you-know.png);
  }
  .heading {
    padding: 0;
    text-align: left;
  }

  .carousel-sec {
    height: 45vh;
    position: relative;
    background-color: white;
    padding: 0;
    margin: 0;
  }

  .card {
    /* width: 100%; */
    /* background-color: #8cb446e1; */
    position: relative;
    padding: 0em 0em;
    top: 0em;
    left: 0em;
    z-index: 1;
    background-color: transparent;
    padding: 1em;
  }

  .carousel-sec > img {
    position: absolute;
    bottom: 0;
    z-index: 0;
    height: 300px;
    width: 376px;
  }

  .carousel-sec > .card > p {
    color: black;
    padding: 0;
    margin: 0;
    display: none;
    font-family: Poppins;
  }

  .carousel-sec > .card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  /* changes is for first button within card  */

  .first-button {
    /* padding: 1.2em 8em; */
    width: 280px;
    height: 40px;

    font-size: 1em;

    border: none;
    background-color: #a5df43;
    color: white;

    /* margin: 0.5em 3em; */

    margin-bottom: 1.5em;
    margin-left: 0em;
    margin-top: 7em;
  }

  /* changes is for second button within card  */

  .second-button {
    width: 280px;
    height: 40px;
    font-family: Poppins;

    font-size: 1em;

    border: none;
    background-color: #a5df43;
    color: white;
    /* margin-bottom: 3em; */
    margin-left: 0em;
    /* margin-top: 1em; */
  }

  .carousel-sec > .card > h1 {
    margin: 0;
    padding: 0;
    font-family: Poppins;

    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
  }

  .main-header-menu-section > .menu {
    background-color: white;
    /* display: flex; */
    /* list-style: None; */
    justify-content: flex-start;
    padding: 0.5em 0;
    /* margin-top: 8px; */
    top: 0;
    position: fixed;
    color: grey;
    left: -80%;

    flex-direction: column;
    height: 100vh;
    z-index: 2;
  }

  .user-action {
    display: flex;
  }

  .user-action > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
    align-items: center;
  }
}
